<h1>Listing scores</h1>
<a href="/">Home</a>
<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Lesson name</th>
      <th>Exam number</th>
      <th>Score</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.student.full_name %></td>
        <td><%= score.lesson_name %></td>
        <td><%= score.exam_number %></td>
        <td><%= score.score %></td>
        <td><%= link_to 'Show', score %></td>
        <td><%= link_to 'Edit', edit_score_path(score) %></td>
        <td><%= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score', new_score_path %>
